html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.home__container {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  padding: 0 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

span {
  flex-basis: 100%;
  margin-bottom: 10px;
  color: rgb(183, 51, 51);
}
label {
  flex-basis: 100%;
  margin-bottom: 10px;
}
input {
  flex: 1;
  padding: 8px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1ee;
}

a,
button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: rgb(15, 162, 230);
  cursor: pointer;
}

button:hover,
button:focus {
  background: rgb(3, 97, 141);
}

@media (max-width: 420px) {
  form {
    flex-direction: column;
  }
  input {
    margin: 0 0 20px 0;
  }
}

.success__container {
  display: flex;
  max-width: 40em;
  margin: 0 auto;
  padding: 0 10px;
  flex-direction: column;
}
