<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Guessing Game</title>
</head>
<body>
    <main class="home__container">
    <h1>Number Guessing Game</h1>
    <form autocomplete="off" action="/guess" method="POST">
        {% block content %}
        {% if error | length > 1 %}
        <span>{{error}}</span>
        {% endif %}
        {% endblock content %}
        <label for="guess">Pick a number between 1 and 20</label>
        <input id="guess" name="guess" type="text">
        <button type="submit">Submit</button>
    </form>
    </main>
</body>
</html>