<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Guessing Game</title>
</head>
<body>
    <main class="success__container">
    <h1>You've guessed correctly, well done!</h1>
    <a href='/'>Play again?</a>
    </main>
</body>
</html>